.my-custom-btn{
  padding: 2px;
  margin: 10px 20px;
  border: 1;
  margin-bottom: 10px;
}

.cart-icon {
    height: 40px; 
    margin-left: 10px;
    width: 30px;
  }

  .cart-number{
    margin-left: 2px;
  }