.item {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    text-align: center;
    max-width: 150px;
   
}

.my-custom-class {
    display:inline-block;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    max-width: 800px;
    margin: 50px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.image {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 8px;
}

.category {
    color: #888;
    margin-bottom: 8px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin-bottom: 8px;
}

.description {
    margin-bottom: 8px;
}