.CardItem {
    display:inline-block;
    width: 300px;
    margin-right: 130px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(55, 92, 69);
    border: 1px solid #2b0606;
    border-radius: 10px;
    flex-wrap: wrap;
    text-align: center;
}

.Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
}

.ItemHeader {
    display: flex;
    justify-content: center;
}

.Info {
    font-size: 40px;
    display: flex;
    justify-content: space-around;
}


.ItemImg {
    width: 100%;
    height: 100;
    object-fit: cover;
    object-position: center;
}